# .env file to simplify development setup
# move this file to .env and customize as you like
[settings]
DEBUG=True
SECRET_KEY=
ALLOWED_HOSTS=0.0.0.0,127.0.0.1,localhost
DATABASE_URL=postgres://postgres@db:5432/postgres
REDIS_URL=redis://redis:6379/0
FYLE_AUTHORISE_URI =
FYLE_CALLBACK_URI = "http://localhost:8000/workspace/connect/fyle/"
FYLE_TOKEN_URI =
FYLE_CLIENT_ID =
FYLE_CLIENT_SECRET =
FYLE_BASE_URL =
XERO_CLIENT_ID =
XERO_CLIENT_SECRET =
XERO_REDIRECT_URI =
XERO_SCOPE =
XERO_AUTHORIZE_URI =
XERO_TOKEN_URI =
XERO_BASE_URL =
SENDGRID_API_KEY =
SENDER_EMAIL =