{% extends "base.html" %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/navtab.css' %}">
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock %}

{% block title %}Category Mapping{% endblock %}

{% block navbar-header %}{{workspace_name}}{% endblock %}

{% block content %}
{% include 'layouts/navtab.html' %}

<div class="dashboard-content">
    <div class="d-flex dashboard-content-header">
        <p>Category Mapping</p>
        <button class="ml-auto btn main-btn" type="button" data-toggle="modal"
                data-target="#createCategoryMappingModal">New Mapping
        </button>
        <button class="btn main-btn-outline ml-3" type="button" data-toggle="modal"
                data-target="#bulkAddMappingModal">Bulk Add/Update
        </button>
        <button class="btn main-btn-outline delete-btn ml-3" type="submit" form="delete-form"
                name="method" value="delete">Delete
        </button>
    </div>
    {% if mappings.count == 0 %}
    <p style="text-align:center;color:red;">Looks like you don't have any Category Mappings</p>
    {% else %}
    <div class="table-layout">
        <div class="table-responsive">
            <table class="table">
                <thead class="table-head">
                <tr class="colHeadings">
                    <th style="width: 40%">category name (Fyle)</th>
                    <th style="width: 40%">Sub-category name (Fyle)</th>
                    <th class="actions">Account Code (Xero)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <form id="delete-form" action="" method="post">
                    {% csrf_token %}
                    {% for mapping in mappings %}
                    <tr>
                        <td>{{mapping.category}}</td>
                        <td>{{mapping.sub_category}}</td>
                        <td class="actions">{{mapping.account_code}}</td>
                        <td>
                            <label class="checkbox-label">
                                <input type="checkbox" name="mapping_ids"
                                       value='"{{mapping.id}}"'/>
                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                    {% endfor %}
                </form>
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    <!-- Modal -->
    <div class="modal fade" id="createCategoryMappingModal" tabindex="-1" role="dialog"
         aria-labelledby="createCategoryMappingModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createCategoryMappingModalTitle">Create New Mapping</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form.category }}
                        <br>
                        {{ form.sub_category }}
                        <br>
                        {{ form.account_code }}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btnInline cancelBtn" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btnInline saveBtn" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="bulkAddMappingModal" tabindex="-1" role="dialog"
         aria-labelledby="bulkAddMappingModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bulkAddMappingModalTitle">Bulk Upload Mappings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'xero_workspace:category_mapping_bulk_upload' workspace_id %}"
                      method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form.bulk_upload_file }}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btnInline cancelBtn" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btnInline saveBtn" type="submit">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
