{% extends "xero_workspace/mappings.html" %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock %}

{% block title %}Employee Mapping{% endblock %}

{% block content %}
    <div class="content">
        <div class="d-flex content-header">
            <h5 class="cardMainText">Employee Mapping</h5>
            <button class="ml-auto btn main-btn" type="button" data-toggle="modal"
                    data-target="#employeeMappingModal">New Mapping
            </button>
            <button class="btn main-btn-outline ml-3" type="button" data-toggle="modal"
                    data-target="#bulkAddMappingModal">Bulk Add/Update
            </button>
            <button class="main-btn-outline delete-btn ml-3" type="submit" form="delete-form"
                    name="method" value="delete">Delete
            </button>
        </div>
        {% if mappings|length == 0 %}
            <div class="alert alert-light mx-auto warning" role="alert">
                <p>Looks like you don't have any Employee Mappings</p>
            </div>
        {% else %}
            <div class="table-layout">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-head">
                        <tr class="colHeadings">
                            <th style="width: 60%">Employee Email (Fyle)</th>
                            <th class="actions">Contact Name (Xero)</th>
                            <th>
                                <label class="checkbox-label">
                                    <input type="checkbox" id="select-all"/>
                                    <span class="checkmark"></span>
                                </label>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <form id="delete-form" action="" method="post">
                            {% csrf_token %}
                            {% for mapping in mappings %}
                            <tr onclick="openEditModal(this, {{mapping.id}})"
                                class="{% if mapping.invalid %} highlight{% endif %}">
                                <td>{{mapping.employee_email}}</td>
                                <td class="actions">{{mapping.contact_name}}</td>
                                <td class="checkbox-error">
                                    <label class="checkbox-label">
                                        <input type="checkbox" class="mappingsCheckbox" name="mapping_ids"
                                               value='"{{mapping.id}}"'/>
                                        <span id="checkmark" class="checkmark"></span>
                                    </label>
                                    {% if mapping.invalid %}
                                        <i class="material-icons error-icon"
                                           title="Please update this mapping">error</i>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </form>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="nav-pagination">
        {% if mappings.has_other_pages %}
           <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if mappings.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ mappings.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
                    {% endif %}

                    {% if mappings.number|add:'-4' > 1 %}
                        <li class="page-item"><a class="page-link" href="?page={{ mappings.number|add:'-5' }}">&hellip;</a></li>
                    {% endif %}

                    {% for i in mappings.paginator.page_range %}
                        {% if mappings.number == i %}
                            <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if mappings.paginator.num_pages > mappings.number|add:'4' %}
                        <li class="page-item"><a class="page-link" href="?page={{ mappings.number|add:'5' }}">&hellip;</a></li>
                    {% endif %}

                    {% if mappings.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ mappings.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
                    {% endif %}
                </ul>
           </nav>
        {% endif %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="employeeMappingModal" tabindex="-1" role="dialog"
         aria-labelledby="employeeMappingModalTitle" aria-hidden="true"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="employeeMappingModalTitle">Create New Mapping</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close" onclick="clearModalValues()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="floating-label">
                            {{ form.employee_email }}
                            <label class="input-label">{{ form.employee_email.label }}</label>
                        </div>
                        <div class="floating-label">
                            {{ form.contact_name }}
                            <label class="input-label">{{ form.contact_name.label }}</label>
                        </div>
                        <input type="hidden" id="mapping_id" name="mapping_id">
                    </div>
                    <div class="modal-footer">
                        <button id="cancel-btn" class="btn btnInline cancelBtn" type="button"
                                data-dismiss="modal" onclick="clearModalValues()">Cancel</button>
                        <button id="submit-btn" class="btn btnInline saveBtn" type="submit"
                                name="method">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="bulkAddMappingModal" tabindex="-1" role="dialog"
         aria-labelledby="bulkAddMappingModalTitle" aria-hidden="true"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bulkAddMappingModalTitle">Bulk Upload Mappings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'xero_workspace:employee_mapping_bulk_upload' workspace_id %}"
                      method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form.bulk_upload_file }}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btnInline cancelBtn" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btnInline saveBtn" type="submit">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    $(document).ready(function () {
        $("#select-all").click(function () {
            $(".mappingsCheckbox").prop('checked', $(this).prop('checked'));
        });
    });

    $(".mappingsCheckbox").click(function(e) {
        if(e.target.type === 'checkbox') {
            e.stopPropagation();
        }
    });

    function openEditModal(table_row, mapping_id) {
        if (event.target.id !== 'checkmark') {
            const cells = table_row.getElementsByTagName('td');
            $('#id_employee_email').val(cells[0].innerHTML);
            $('#id_contact_name').val(cells[1].innerHTML);
            $('#employeeMappingModalTitle').text('Edit Mapping');
            $('#submit-btn').text('Update');
            $('#submit-btn').val('update');
            $('#mapping_id').val(mapping_id.toString());
            $('#employeeMappingModal').modal('show');
        }
    }

    function clearModalValues() {
        setTimeout(function() {
            $('#employeeMappingModalTitle').text('Create New Mapping');
            $('#id_employee_email').val('');
            $('#id_contact_name').val('');
            $('#submit-btn').text('Create');
            $('#submit-btn').removeAttr('name');
            $('#submit-btn').removeAttr('val');
            $('#mapping_id').removeAttr('val');
        }, 150);
    }

{% endblock %}
