{% extends "base.html" %}

{% load static %}

{% block sub-nav-heading %}Expense Groups{% endblock %}

{% block sub-nav-tabs %}
    <li class="sub-nav-item">
        <a class="sub-nav-link {{ expense_groups }}"
           href="{% url 'xero_workspace:expense_groups' workspace_id %}">All</a>
    </li>
    <li class="sub-nav-item">
        <a class="sub-nav-link"
           href="#complete">Complete</a>
    </li>
    <li class="sub-nav-item">
            <a class="sub-nav-link"
               href="#pending">Pending</a>
    </li>
    <li class="sub-nav-item">
            <a class="sub-nav-link"
               href="#failed">Failed</a>
    </li>
{% endblock %}