{% extends "base.html" %}

{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/xero_workspace/schedule.css' %}">
    {{ form.media }}
{% endblock %}

{% block title %}Schedule{% endblock %}

{% block content %}
    <div class="content">
        <form action="" method="post">
            {% csrf_token %}
            <div class="content-header">
                <h5 class="cardMainText">Sync Schedule</h5>
            </div>
            <div class="schedule-content">
                <div class="enable-schedule">
                    {% if enabled != 0 %}
                    <input type="checkbox" id="schedule-enabled" name="schedule" value="enabled"
                           class="switch-input" checked>
                    <label for="schedule-enabled" class="switch-label">Enable Schedule</label>
                    {% else %}
                        <input type="checkbox" id="schedule-disabled" name="schedule" value="enabled"
                               class="switch-input">
                        <label for="schedule-disabled" class="switch-label">Enable Schedule</label>
                    {% endif %}
                </div>
                <div class="floating-label">
                    {{ form.minutes }}
                    <label class="input-label">Repeat Frequency (in min)</label>
                </div>
                <div class="datetimepicker">
                    {{ form.next_run }}
                </div>
                <div class="save-schedule">
                    <button class="main-btn btn save-btn" type="submit">Save Schedule</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
