{% extends "base.html" %}

{% load static %}

{% block sub-nav-heading %}Settings{% endblock %}

{% block sub-nav-tabs %}
    <li class="sub-nav-item">
        <a class="sub-nav-link {{ source }}"
           href="{% url 'xero_workspace:source' workspace_id %}">Source</a>
    </li>
    <li class="sub-nav-item">
        <a class="sub-nav-link {{ destination }}"
           href="{% url 'xero_workspace:destination' workspace_id %}">Destination</a>
    </li>
    <li class="sub-nav-item">
        <a class="sub-nav-link {{ transform }}"
           href="{% url 'xero_workspace:transform' workspace_id %}">Transform</a>
    </li>
    <li class="sub-nav-item">
        <a class="sub-nav-link {{schedule}}"
           href="{% url 'xero_workspace:schedule' workspace_id %}">Schedule</a>
    </li>
{% endblock %}