{% extends "base.html" %}

{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/xero_workspace/transform.css' %}">
{% endblock %}

{% block title %}Transform{% endblock %}

{% block content %}
      <div class="transform-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Transform SQL</label>
                      <form action="" method="post">
                          {% csrf_token %}
                          {{ form.transform_sql }}
                          {% if save_button %}
                            <button class="btn main-btn mt-2 align-right" type="submit" disabled>EDIT</button>
                            <button class="btn main-btn-outline mt-2 align-right save-btn" type="submit">SAVE</button>
                          {% else %}
                            <button class="btn main-btn mt-2 align-right" type="submit" name="method"
                                    value="update">EDIT</button>
                          {% endif %}
                      </form>
                  </div>

                  <div class="form-group mt-5">
                    <label>Try it out!</label>
                    {{ form.test_sql }}
                    <button class="btn main-btn-outline mt-2 align-right">TEST</button>
                  </div>
                  <p class="mt-5">Fetched 58 records</p>
                </div>

                <div class="col-md-3"></div>
            </div>
        </div>
      </div>
{% endblock %}