.nav-tabs {
    background-color: var(--white);
}

.tabSection {
    justify-content: baseline;
}

.nav-tabs .nav-item, .nav-link  {
    color: var(--fontGrey) !important;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid var(--primaryColor);
    color: var(--primaryColor) !important;
    font-size: 14px;
    background-color: var(--white);
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    font-size: 14px;
    color: var(--primaryColor) !important;
    text-decoration: none;
}