{% extends "base.html" %}

{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/task/tasks.css' %}">
{% endblock %}

{% block title %}Tasks{% endblock %}

{% block sub-nav-heading %}Tasks{% endblock %}

{% block sub-nav-tabs %}
    <li class="sub-nav-item">
        <a class="sub-nav-link {{ all }}"
           href="{% url 'xero_workspace:tasks' workspace_id %}">All</a>
    </li>
    <li class="sub-nav-item">
        <a class="sub-nav-link {{ complete }}"
           href="?state=complete">Complete</a>
    </li>
    <li class="sub-nav-item">
            <a class="sub-nav-link {{ failed }}"
               href="?state=failed">Failed</a>
    </li>
{% endblock %}

{% block content %}
    <div class="content">
        <form action="" method="post">
            {% csrf_token %}
            <div class="d-flex content-header">
                <button class="btn ml-auto main-btn sync-btn" name="submit"
                        value="sync" type="submit">Sync Now</button>
            </div>
        </form>
        {% if task_logs|length == 0 %}
            <div class="alert alert-light mx-auto warning" role="alert">
                <p>Looks like you don't have any Task Logs</p>
            </div>
        {% else %}
            <div class="table-layout">
                <div class="table-responsive">
                    <table class="table tasks-table">
                        <thead class="table-head">
                            <tr class="colHeadings">
                                <th style="width: 30%">Name</th>
                                <th>Updated At</th>
                                <th>Status</th>
                                <th>Level</th>
                                <th class="actions">Logs</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task_log in task_logs %}
                                <tr class="tasks-table-row" data-url="{{task_log.id}}/details/">
                                    <td>{{task_log.task_id}}</td>
                                    <td>{{task_log.type}}</td>
                                    <td>{{task_log.updated_at}}</td>
                                    <td>{{task_log.status}}</td>
                                    <td class="actions">
                                        <a target="_blank" href="log/?type=task_log&id={{task_log.id}}">
                                            <i id="view-log" class="material-icons view-icon"
                                               title="View Log">open_in_new</i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="nav-pagination">
        {% if task_logs.has_other_pages %}
           <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if task_logs.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ task_logs.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
                    {% endif %}

                    {% if task_logs.number|add:'-4' > 1 %}
                        <li class="page-item"><a class="page-link" href="?page={{ task_logs.number|add:'-5' }}">&hellip;</a></li>
                    {% endif %}

                    {% for i in task_logs.paginator.page_range %}
                        {% if task_logs.number == i %}
                            <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                        {% elif i > task_logs.number|add:'-5' and i < task_logs.number|add:'5' %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if task_logs.paginator.num_pages > task_logs.number|add:'4' %}
                        <li class="page-item"><a class="page-link" href="?page={{ task_logs.number|add:'5' }}">&hellip;</a></li>
                    {% endif %}

                    {% if task_logs.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ task_logs.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
                    {% endif %}
                </ul>
           </nav>
        {% endif %}
    </div>

    <div class="modal right fade" id="taskModal" tabindex="-1" role="dialog"
         aria-labelledby="taskModalTitle">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="taskModalTitle">Task Details</h5>
                </div>
                <div class="modal-body task-details">
                    <p id="task-name" class="task-name">Task Name</p>
                    <div class="table-responsive">
                        <table class="table task-details-table">
                            <tbody>
                                <tr>
                                    <td>Task ID</td>
                                    <td id="task-id"></td>
                                </tr>
                                <tr>
                                    <td>Expense Group ID</td>
                                    <td id="expense-group-id"></td>
                                </tr>
                                <tr>
                                    <td>Invoice ID</td>
                                    <td id="invoice-id"></td>
                                </tr>
                                <tr>
                                    <td>Started at</td>
                                    <td id="started-at"></td>
                                </tr>
                                <tr>
                                    <td>Stopped at</td>
                                    <td id="stopped-at"></td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td id="status"></td>
                                </tr>
                                <tr>
                                    <td>Level</td>
                                    <td id="level"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    $(".tasks-table-row").click(function() {
        $.ajax({
            url: $(this).attr("data-url"),
            type: 'get',
            dataType: 'json',
            beforeSend: function() {
                $("#taskModal").modal("show");
            },
            success: function(data) {
                $('#task-name').html(data.type);
                $("#task-id").html(data.task_id);
                $("#expense-group-id").html(data.expense_group || '-');
                $("#invoice-id").html(data.invoice || '-');
                $("#started-at").html(data.started_at);
                $("#stopped-at").html(data.stopped_at);
                $("#status").html(data.status);
<!--                $("#level").html(data.level || '-');-->
            }
        })
    });

    $(".view-icon").click(function(e) {
        if(e.target.id === 'view-log') {
            e.stopPropagation();
        }
    });
{% endblock %}
