{% extends "base.html" %}

{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/expense/expense.css' %}">
{% endblock %}

{% block title %}Expense Groups{% endblock %}

{% block sub-nav-heading %}Expense Groups{% endblock %}

{% block sub-nav-tabs %}
    <li class="sub-nav-item">
        <a class="sub-nav-link {{ expense_groups }}"
           href="{% url 'xero_workspace:expense_groups' workspace_id %}">All</a>
    </li>
    <li class="sub-nav-item">
        <a class="sub-nav-link"
           href="#complete">Complete</a>
    </li>
    <li class="sub-nav-item">
            <a class="sub-nav-link"
               href="#pending">Pending</a>
    </li>
    <li class="sub-nav-item">
            <a class="sub-nav-link"
               href="#failed">Failed</a>
    </li>
{% endblock %}

{% block content %}
    <div class="content">
        <form action="" method="post">
            {% csrf_token %}
            <div class="d-flex content-header">
                <button class="btn ml-auto main-btn sync-btn" name="submit" type="submit" value="sync">Sync</button>
                <button class="btn main-btn-outline ml-4 resync-btn">Resync</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    $(document).ready(function () {
        $("#select-all").click(function () {
            $(".expenseCheckbox").prop('checked', $(this).prop('checked'));
        });
    });
{% endblock %}
