{% extends "base.html" %}

{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/expense/expense.css' %}">
    <link rel="stylesheet" href="{% static 'css/xero_workspace/invoice.css' %}">
{% endblock %}

{% block title %}Expense Groups{% endblock %}

{% block sub-nav-heading %}Expense Groups{% endblock %}

{% block sub-nav-tabs %}
    <li class="sub-nav-item">
        <a class="sub-nav-link {{ expense_groups }}"
           href="{% url 'xero_workspace:expense_groups' workspace_id %}">All</a>
    </li>
    <li class="sub-nav-item">
        <a class="sub-nav-link"
           href="#complete">Complete</a>
    </li>
    <li class="sub-nav-item">
            <a class="sub-nav-link"
               href="#pending">Pending</a>
    </li>
    <li class="sub-nav-item">
            <a class="sub-nav-link"
               href="#failed">Failed</a>
    </li>
{% endblock %}

{% block content %}
    <div class="content">
        <form action="" method="post">
            {% csrf_token %}
            <div class="d-flex content-header">
                <button class="btn ml-auto main-btn sync-btn" name="submit" type="submit" value="sync">Sync</button>
                <button class="btn main-btn-outline ml-4 resync-btn">Resync</button>
            </div>
            <div class="table-layout">
                <div class="table-responsive">
                    <table class="table expense-groups-table">
                        <thead class="table-head">
                            <tr class="colHeadings">
                                <th style="width: 30%">Description</th>
                                <th>Status</th>
                                <th>Created at</th>
                                <th>Invoice</th>
                                <th>
                                    <label class="checkbox-label">
                                        <input type="checkbox" id="select-all"/>
                                        <span class="checkmark"></span>
                                    </label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expense_group_details in expense_groups_details %}
                                <tr>
                                    <td>
                                        <a class="expenses-link"
                                           href="{{expense_group_details.id}}/expenses/">
                                            Grouped by report id: {{expense_group_details.description.report_id}}
                                        </a>
                                    </td>
                                    {% if expense_group_details.status %}
                                        <td>Complete</td>
                                    {% else %}
                                        <td>Failed</td>
                                    {% endif %}
                                    <td>{{expense_group_details.description.approved_at}}</td>
                                    <td>
                                        <p class="view-invoice view-invoice-modal"
                                           data-url="{{expense_group_details.id}}/invoice/">view</p>
                                    </td>
                                    <td>
                                        <label class="checkbox-label">
                                            <input type="checkbox" class="expenseCheckbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>

    {% include 'xero_workspace/invoice.html' %}

{% endblock %}

{% block include-script %}
    <script src="{% static 'js/expense/open_invoice_modal.js' %}"></script>
{% endblock %}

{% block script %}
    $("#select-all").click(function () {
        $(".expenseCheckbox").prop('checked', $(this).prop('checked'));
    });
{% endblock %}
