{% extends "base.html" %}

{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/expense/expense.css' %}">
{% endblock %}

{% block title %}Expense Groups{% endblock %}

{% block back-button %}
    <a class="back-btn" href="{% url 'xero_workspace:expense_groups' workspace_id %}">
        <i class="material-icons">arrow_back</i>
    </a>
{% endblock %}

{% block sub-nav-heading %}Expenses{% endblock %}

{% block content %}
    <div class="content">
        <form action="" method="post">
            {% csrf_token %}
            <div class="d-flex content-header">
            </div>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal right fade" id="expenseModal" tabindex="-1" role="dialog"
         aria-labelledby="expenseModalTitle">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="expenseModalTitle">Expense Details</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
