.transform-content {
    margin: 10px 20px 0px;
    padding: 5px;
}

.form-control:focus {
    border: 1px solid #ccc;
    box-shadow: none;
}

.align-right {
    float: right;
}

.save-btn {
    margin-right: 8px;
}