.workspace-name-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 13.33px;
  font-weight: 400;
  margin: 18px 0;
  padding: 2px;
  vertical-align: middle;
}

.cardMainText {
  color: var(--mainHeading);
  font-size: 18px;
}

.dashboard-content {
  background-color: var(--white);
  border: 1px solid var(--lightGrey);
  padding: 10px;
  border-radius: 6px;
  margin: 16px;
}

.dashboard-content-header {
  padding: 10px;
}
